﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Score.Data.Const
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@model Score.Data.ViewModels.Base.ContentPage

@{

   Layout = "Main Outer Layout.cshtml";

}

@Html.Sitecore().Placeholder("Above Page Content")
<div class="@ScoreStyles.PageWrapper">
    @Html.Sitecore().Placeholder("Page Content")
</div>
@Html.Sitecore().Placeholder("Below Page Content")

<!-- Placed at the end of the document so the pages load faster -->
@foreach (var area in new[] { "ScoreCCF", "ScoreBootstrapUI", "BrainJocks" })
{
    <script src="@Url.Content("~/Areas/" + area + "/js/require.config.js")" type="text/javascript"></script>
}
<script src="@Url.Content("~/Areas/ScoreCCF/js/Vendor/require.js")" data-main="/Areas/BrainJocks/js/main.js" type="text/javascript"></script>
@Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageFooterScripts, new { Cacheable = true, Cache_VaryByData = true })
@Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteFooterScripts, new { Cacheable = true })
