﻿@using Score.Data.Const
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.ExperienceForms.Mvc.Html
@model Score.Data.ViewModels.Base.ContentPage
@*
    Sitecore 9 Forms uses the following:

    Html.RenderFormStyles
    Html.RenderFormScript

    Sitecore wants you to create a inner layout to add the form and then after the form renders
    it will add the scripts that are needed for the form.   It will only add the scripts after all
    the Sitecore 9 forms are added on the page and will only add the script once.   The user can
    add their own custom scripts per form so we are losing that ability by adding the script manually
    into the main layout instead of letting them load per form.

    Sitecore Forms Extensions adds fields like Google ReCaptcha, Raw HTML, File Upload and Hidden Field

    The source code and download can be found here and needs to be installed in your Sitecore Instance 
    if you want this to work correctly
    https://github.com/bartverdonck/Sitecore-Forms-Extensions
*@
<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.ToString()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1, user-scalable=no" />

    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageMetaData, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.PageHeaderScripts, new { Cacheable = true, Cache_VaryByData = true })
    @Html.Sitecore().Rendering(ScoreConst.RenderingIds.SiteHeaderScripts, new { Cacheable = true })

    <link href="@Url.Content("~/Areas/BrainJocks/css/main.css")" rel="stylesheet"/>

    @if (Score.Data.Utils.ExperienceEditorMode.IsEditorEditing)
    {
        <link href="@Url.Content("~/Areas/ScoreBootstrapUI/css/bootstrapui_page_editor.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/BrainJocks/css/page_editor.css")" rel="stylesheet" />
    }

    <script src="@Url.Content("~/Areas/BrainJocks/js/vendor/modernizr.2.6.2.min.js")"></script>

    @Html.Sitecore().VisitorIdentification()
    @Html.RenderFormStyles()
    @Html.RenderFormScripts()
</head>
<body class="@Model.BodyClass">
    @RenderBody()
</body>
</html>
