﻿.score-highlight, .score-picture-highlight {
    @extend .thumbnail; //inherit bootstrap
    @include vertical-space($vertical-spacing);
	.score-highlight-header {

	}
    img {

    }
    .caption {
        h2 {

        }
        .score-highlight-body {

        }
        .score-call-to-action {

        }
    }
}
