/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.score-slick-slider {
    width: 100%;
    max-width: ~"calc(100% - 30px)";
    margin: 0 auto;
    .slick-prev {
        position:  absolute;
        z-index:  2;
        top: 45%;
        left: -30px;
        width:  0;
        height:  0;
        font-size:  0;
        background-color:  transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid#F5F5F5;
        border-left: none;
        &:focus {
            outline: none;
            border-right-color: #dcdcdc;
        }
        @media (max-width: @screen-xs) {
            display: none;
        }
    }
    .slick-next {
        position:  absolute;
        z-index:  2;
        right: -30px;
        top: 45%;
        font-size: 0;
        width: 0;
        height: 0;
        background-color: transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #F5F5F5;
        border-right: none;
        &:focus {
            outline: none;
            border-left-color: #dcdcdc;
        }
        @media (max-width: @screen-xs) {
            display: none;
        }
    }
    .slick-dots {
        display:  inline-block;
        list-style-type:  none;
        position:  absolute;
        left: 50%;
        top: 100%;
        margin: 0;
        padding: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform:    translateX(-50%);
        -ms-transform:     translateX(-50%);
        -o-transform:      translateX(-50%);
        transform:         translateX(-50%);
        @media (max-width: @screen-xs) {
            display: none;
        }
        li {
            display: inline-block;
            background-color: transparent;
            font-size: 0;
            margin-right: 5px;
            button {
                background-color: rgba(245, 245, 245, 0.2);
                border: 1px solid rgba(245, 245, 245, 0.9);
                border-radius: 50%;
                height: 10px;
                padding: 5px;
                &:focus {
                    outline: none;
                }
            }
        }
        li.slick-active {
            button {
                background-color: rgba(245, 245, 245, 0.9);
                border: 1px solid rgba(245, 245, 245, 0.9);
                border-radius: 50%;
                height: 10px;
                padding: 5px;
            }
        }
    }
    .score-style-box {
        max-width: 100%;
        min-height: 350px;
        margin: 0 auto;
        background-color: rgba(245, 245, 245, 0.9);
    }
    &.slides-to-show-2,
    &.slides-to-show-3,
    &.slides-to-show-4 {
        .score-style-box {
            max-width: ~"calc(100% - 20px)";
        }
    }
}