.score-facet-container {
    &:extend(.default-facet-container all); //inherit default SCORE styles
    .clear-facets {

    }
    .panel {
        .panel-heading {

            &.opened {

            }
            &.closed {

            }
            &.static {

            }
        }
        .panel-body {
            .zero-hits {
                label {
                    &:hover {

                    }
                }
            }
        }
    }
    .score-checkbox {
        label {
            &:before {

            }
        }
        input {
            &[type="checkbox"] {
                &:checked {
                    &+label, &+input + label, &+input:nth-child(n) + label {
                        &:before {

                        }
                    }
                }
            }
        }
        &.zero-hits {

            &:after {
                

            }

            label {
                &:before {
                    

                }
            }
            input {
                &[type="checkbox"] {
                    &:checked {
                        & + label, & + input + label, & + input:nth-child(n) + label {
                            &:before {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}